[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.7.2"
adversarial-robustness-toolbox = "*"
mtcnn = "*"
numpy = "*"
flask = "*"
black = "==19.10b0"
opencv-python = "*"

[requires]
python_version = "3.7"
